.parent {
	background-color: white;
}

.leftBox {
	background-color: blue;
	display: inline-block;
	height: 100%;
	width: 33%;
}

.middleBox {
	background-color: teal;
	display: inline-block;
	height: 100%;
	width: 33%;
}

.rightBox {
	vertical-align:top;
	background-color: green;
	display: inline-block;
	width: 33%;
}

.block {
	height: 66.6666%%;
}

.redBox {
	background-color: red;
	height: 33.3333%;
	color: white;
	text-align: center;
	line-height: 250px;

}